USE [Lampshade]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](1000) NOT NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[ProfilePhoto] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleCategories]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleCategories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Picture] [nvarchar](500) NULL,
	[PictureAlt] [nvarchar](500) NULL,
	[PictureTitle] [nvarchar](500) NULL,
	[Description] [nvarchar](2000) NULL,
	[ShowOrder] [int] NOT NULL,
	[Slug] [nvarchar](600) NULL,
	[Keywords] [nvarchar](100) NULL,
	[MetaDescription] [nvarchar](150) NULL,
	[CanonicalAddress] [nvarchar](1000) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ArticleCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[ShortDescription] [nvarchar](1000) NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [nvarchar](500) NULL,
	[PictureAlt] [nvarchar](500) NULL,
	[PictureTitle] [nvarchar](500) NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[Slug] [nvarchar](600) NULL,
	[Keywords] [nvarchar](100) NULL,
	[MetaDescription] [nvarchar](150) NULL,
	[CanonicalAddress] [nvarchar](1000) NULL,
	[CategoryId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColleagueDiscounts]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColleagueDiscounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[IsRemoved] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ColleagueDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Website] [nvarchar](500) NULL,
	[Message] [nvarchar](1000) NULL,
	[IsConfirmed] [bit] NOT NULL,
	[IsCanceled] [bit] NOT NULL,
	[OwnerRecordId] [bigint] NOT NULL,
	[Type] [int] NOT NULL,
	[ParentId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDiscounts]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDiscounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CustomerDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[InStock] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryOperations]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryOperations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Operation] [bit] NOT NULL,
	[Count] [bigint] NOT NULL,
	[OperatorId] [bigint] NOT NULL,
	[OperationDate] [datetime2](7) NOT NULL,
	[CurrentCount] [bigint] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[OrderId] [bigint] NOT NULL,
	[InventoryId] [bigint] NOT NULL,
 CONSTRAINT [PK_InventoryOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[DiscountAmount] [float] NOT NULL,
	[PayAmount] [float] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsCanceled] [bit] NOT NULL,
	[IssueTrackingNo] [nvarchar](8) NULL,
	[RefId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Picture] [nvarchar](1000) NULL,
	[PictureAlt] [nvarchar](255) NULL,
	[PictureTitle] [nvarchar](500) NULL,
	[KeyWords] [nvarchar](80) NOT NULL,
	[MetaDescription] [nvarchar](150) NOT NULL,
	[Slug] [nvarchar](300) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPictures]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPictures](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Picture] [nvarchar](1000) NOT NULL,
	[PictureAlt] [nvarchar](500) NOT NULL,
	[PictureTitle] [nvarchar](500) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProductPictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](15) NOT NULL,
	[ShortDescription] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [nvarchar](1000) NULL,
	[PictureAlt] [nvarchar](255) NULL,
	[PictureTitle] [nvarchar](500) NULL,
	[KeyWords] [nvarchar](100) NOT NULL,
	[MetaDescription] [nvarchar](150) NOT NULL,
	[Slug] [nvarchar](500) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 08/08/1404 01:59:34 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Picture] [nvarchar](1000) NOT NULL,
	[PictureAlt] [nvarchar](500) NOT NULL,
	[PictureTitle] [nvarchar](500) NOT NULL,
	[Heading] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Text] [nvarchar](255) NULL,
	[BtnText] [nvarchar](50) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[IsRemoved] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Slides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250209121704_InitDB', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250215132529_ProductPictureAdded', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250221161001_SlideAdded', N'5.0.17')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Fullname], [Username], [Password], [Mobile], [RoleId], [ProfilePhoto], [CreationDate]) VALUES (1, N'حمید بیگی', N'hamidbeigi', N'10000.owgtFM+u14ZoeDgloOvZGw==.KjYzsyMMrROoFGvIXqwTIbY79N92OchPmU4JsaZXlgU=', N'09116938068', 1, N'profile-photos/hamidbeigi/2025-08-12-15-03-37-photo_۲۰۲۵-۰۴-۲۸_۰۱-۵۹-۰۳.jpg', CAST(N'2025-08-11T23:03:36.0378522' AS DateTime2))
INSERT [dbo].[Accounts] ([Id], [Fullname], [Username], [Password], [Mobile], [RoleId], [ProfilePhoto], [CreationDate]) VALUES (2, N'مهدی رضایی', N'mehdi70', N'10000.rb5/A5yKwQWIdmj7tMKBtw==.isaxMrBo7Jio8bmwHu3uJLAMvLi18bRencDStC+ETyA=', N'09157895040', 3, N'profile-photos/default-photo.png', CAST(N'2025-08-12T14:10:45.2232457' AS DateTime2))
INSERT [dbo].[Accounts] ([Id], [Fullname], [Username], [Password], [Mobile], [RoleId], [ProfilePhoto], [CreationDate]) VALUES (3, N'سارا احمدی', N'sara_ahmadi', N'10000.YQI+QcVOP2/OO8zJhHHIfw==.GFYToTgvtaEcBiA2xMCFV9uO+9O86SVRrCb/zEcdtaY=', N'09122561112', 4, N'profile-photos/default-photo.png', CAST(N'2025-08-12T14:14:52.5440050' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticleCategories] ON 

INSERT [dbo].[ArticleCategories] ([Id], [Name], [Picture], [PictureAlt], [PictureTitle], [Description], [ShowOrder], [Slug], [Keywords], [MetaDescription], [CanonicalAddress], [CreationDate]) VALUES (1, N'صندلی پاف', N'article-categories/صندلی-پاف/2025-08-12-16-07-02-2-600x800.jpg', N'عکس صندلی پاف', N'صندلی پاف', N'مقالات مربوط به صندلی پاف', 1, N'صندلی-پاف', N'صندلی پاف,پاف,مقاله پاف', N'مقالات مربوط به صندلی پافو', NULL, CAST(N'2025-08-12T16:07:02.0829260' AS DateTime2))
INSERT [dbo].[ArticleCategories] ([Id], [Name], [Picture], [PictureAlt], [PictureTitle], [Description], [ShowOrder], [Slug], [Keywords], [MetaDescription], [CanonicalAddress], [CreationDate]) VALUES (2, N'دکوراسیون داخلی', N'article-categories/دکوراسیون-داخلی/2025-08-16-17-04-19-دکو.jpg', N'عکس دکوراسیون داخلی', N'دکوراسیون داخلی', N'مقالات مربوط به دکوراسیون داخلی در این صفحه قرار میگیرند.', 2, N'دکوراسیون-داخلی', N'دکوراسیون,دکوراسیون داخلی', N'مقالات مربوط به دکوراسیون داخلی در این صفحه قرار میگیرند.', NULL, CAST(N'2025-08-16T17:04:19.8497544' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ArticleCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[ColleagueDiscounts] ON 

INSERT [dbo].[ColleagueDiscounts] ([Id], [ProductId], [DiscountRate], [IsRemoved], [CreationDate]) VALUES (4, 2, 20, 0, CAST(N'2025-08-16T16:50:21.3710296' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ColleagueDiscounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Name], [Email], [Website], [Message], [IsConfirmed], [IsCanceled], [OwnerRecordId], [Type], [ParentId], [CreationDate]) VALUES (26, N'مهدی صالحی', N'mahdi12@gmail.com', NULL, N'عالی هستید، خوشحالم که از سایت شما خرید کردم.', 1, 0, 1, 1, 0, CAST(N'2025-08-16T16:37:00.8789353' AS DateTime2))
INSERT [dbo].[Comments] ([Id], [Name], [Email], [Website], [Message], [IsConfirmed], [IsCanceled], [OwnerRecordId], [Type], [ParentId], [CreationDate]) VALUES (30, N'رضا علیزاده', N'reza88@gmail.com', N'www.reza-alizade.ir', N'مقاله جالبی بود ممنون از شما.', 1, 0, 1, 2, 0, CAST(N'2025-08-16T18:40:06.0788823' AS DateTime2))
INSERT [dbo].[Comments] ([Id], [Name], [Email], [Website], [Message], [IsConfirmed], [IsCanceled], [OwnerRecordId], [Type], [ParentId], [CreationDate]) VALUES (31, N'مهسا رضایی', N'mhsa@gmail.com', NULL, N'ممنون از راهنمایی هاتون.', 1, 0, 1, 2, 0, CAST(N'2025-08-16T18:41:23.0865413' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerDiscounts] ON 

INSERT [dbo].[CustomerDiscounts] ([Id], [ProductId], [DiscountRate], [StartDate], [EndDate], [Reason], [CreationDate]) VALUES (7, 1, 20, CAST(N'2025-09-25T00:00:00.0000000' AS DateTime2), CAST(N'2026-12-22T00:00:00.0000000' AS DateTime2), N'قدردانی ار مشتریان عزیز', CAST(N'2025-08-16T16:51:01.7368698' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CustomerDiscounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([Id], [ProductId], [UnitPrice], [InStock], [CreationDate]) VALUES (1, 1, 700000, 1, CAST(N'2025-08-12T13:04:55.1031122' AS DateTime2))
INSERT [dbo].[Inventory] ([Id], [ProductId], [UnitPrice], [InStock], [CreationDate]) VALUES (2, 2, 570000, 1, CAST(N'2025-08-16T16:57:21.1813607' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryOperations] ON 

INSERT [dbo].[InventoryOperations] ([Id], [Operation], [Count], [OperatorId], [OperationDate], [CurrentCount], [Description], [OrderId], [InventoryId]) VALUES (1, 1, 100, 1, CAST(N'2025-08-12T13:05:21.5160966' AS DateTime2), 100, N'واردات', 0, 1)
INSERT [dbo].[InventoryOperations] ([Id], [Operation], [Count], [OperatorId], [OperationDate], [CurrentCount], [Description], [OrderId], [InventoryId]) VALUES (2, 0, 5, 1, CAST(N'2025-08-12T16:45:33.1580245' AS DateTime2), 95, N'برای اتاق های شرکت خودمون', 1, 1)
INSERT [dbo].[InventoryOperations] ([Id], [Operation], [Count], [OperatorId], [OperationDate], [CurrentCount], [Description], [OrderId], [InventoryId]) VALUES (3, 0, 5, 1, CAST(N'2025-08-16T16:56:46.0923996' AS DateTime2), 90, N'خرید مشتری', 79, 1)
SET IDENTITY_INSERT [dbo].[InventoryOperations] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [ProductId], [Count], [UnitPrice], [DiscountRate], [OrderId], [CreationDate]) VALUES (88, 1, 5, 700000, 10, 79, CAST(N'2025-08-16T16:56:28.2952130' AS DateTime2))
INSERT [dbo].[OrderItems] ([Id], [ProductId], [Count], [UnitPrice], [DiscountRate], [OrderId], [CreationDate]) VALUES (89, 2, 1, 570000, 5, 80, CAST(N'2025-08-16T16:59:45.0318332' AS DateTime2))
INSERT [dbo].[OrderItems] ([Id], [ProductId], [Count], [UnitPrice], [DiscountRate], [OrderId], [CreationDate]) VALUES (90, 1, 2, 700000, 10, 81, CAST(N'2025-08-17T11:12:29.6988691' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [AccountId], [PaymentMethod], [TotalAmount], [DiscountAmount], [PayAmount], [IsPaid], [IsCanceled], [IssueTrackingNo], [RefId], [CreationDate]) VALUES (79, 1, 2, 3500000, 350000, 3150000, 1, 0, N'SBSF590', 0, CAST(N'2025-08-16T16:56:28.2947301' AS DateTime2))
INSERT [dbo].[Orders] ([Id], [AccountId], [PaymentMethod], [TotalAmount], [DiscountAmount], [PayAmount], [IsPaid], [IsCanceled], [IssueTrackingNo], [RefId], [CreationDate]) VALUES (80, 3, 1, 570000, 28500, 541500, 1, 0, N'SYAQ832', 0, CAST(N'2025-08-16T16:59:45.0318295' AS DateTime2))
INSERT [dbo].[Orders] ([Id], [AccountId], [PaymentMethod], [TotalAmount], [DiscountAmount], [PayAmount], [IsPaid], [IsCanceled], [IssueTrackingNo], [RefId], [CreationDate]) VALUES (81, 1, 1, 1400000, 140000, 1260000, 1, 0, N'SMPX470', 0, CAST(N'2025-08-17T11:12:29.6981147' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [Picture], [PictureAlt], [PictureTitle], [KeyWords], [MetaDescription], [Slug], [CreationDate]) VALUES (1, N'فضای نگهدارنده', N'انواع فضای نگهدارنده در سایت و استایل های مختلف برای خانه شما', N'product-categories/فضای-نگهدارنده/2025-08-12-12-39-38-img1-top-eposi1.jpg', N'عکس فضای نگهدارنده در سایز های مختلف', N'فضای نگهدارنده های شیک و زیبا', N'فضای نگهدارنده,دکوراسیون,دکوراسیون خانه', N'انواع فضای نگهدارنده در سایت و استایل های مختلف برای خانه شما', N'فضای-نگهدارنده', CAST(N'2025-08-12T12:39:38.6720182' AS DateTime2))
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [Picture], [PictureAlt], [PictureTitle], [KeyWords], [MetaDescription], [Slug], [CreationDate]) VALUES (2, N'دکوری', N'انواع دکوری های زیبا و جذاب در سایز و استایل های مختلف برای خانه شما', N'product-categories/دکوری/2025-08-12-12-41-22-img3-top-eposi1.jpg', N'عکس انواع دکوری در استایل های مختلف', N'انواع دکوری های زیبا در سایز و استایل های مختلف', N'دکوری,دکوراسیون,دکوراسیون خانه', N'انواع دکوری های زیبا و جذاب در سایز و استایل های مختلف برای خانه شما', N'دکوری', CAST(N'2025-08-12T12:41:22.2924106' AS DateTime2))
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [Picture], [PictureAlt], [PictureTitle], [KeyWords], [MetaDescription], [Slug], [CreationDate]) VALUES (3, N'صندلی پاف', N'محصولات مربوط به صندلی پاف در این دسته قرار می گیرد.', N'product-categories/صندلی-پاف/2025-08-19-10-33-38-product04.jpg', N'عکس صندلی پاف', N'صندلی پاف', N'صندلی پاف,صندلی دکوری', N'محصولات مربوط به صندلی پاف در این دسته قرار می گیرد.', N'صندلی-پاف', CAST(N'2025-08-19T10:33:38.6888411' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPictures] ON 

INSERT [dbo].[ProductPictures] ([Id], [ProductId], [Picture], [PictureAlt], [PictureTitle], [IsRemoved], [CreationDate]) VALUES (1, 1, N'products/گلدان-01/gallery/2025-08-12-13-49-21-10-600x800.jpg', N'گلدان دکوری 01', N'عکس گلدان دکوری 01', 0, CAST(N'2025-08-12T13:46:30.3421782' AS DateTime2))
INSERT [dbo].[ProductPictures] ([Id], [ProductId], [Picture], [PictureAlt], [PictureTitle], [IsRemoved], [CreationDate]) VALUES (2, 2, N'products/نگهدارنده-114/gallery/2025-08-16-16-48-04-Product07.jpg', N'عکس فضای نگهدارنده', N'فضای نگهدارنده', 0, CAST(N'2025-08-16T16:48:04.3075861' AS DateTime2))
INSERT [dbo].[ProductPictures] ([Id], [ProductId], [Picture], [PictureAlt], [PictureTitle], [IsRemoved], [CreationDate]) VALUES (3, 2, N'products/نگهدارنده-114/gallery/2025-08-16-17-21-22-Product08.jpg', N'عکس فضای نگهدارنده', N'فضای نگهدارنده', 0, CAST(N'2025-08-16T17:21:22.7934141' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductPictures] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([Id], [Code], [RoleId]) VALUES (1, 10, 1)
INSERT [dbo].[RolePermissions] ([Id], [Code], [RoleId]) VALUES (2, 104, 1)
INSERT [dbo].[RolePermissions] ([Id], [Code], [RoleId]) VALUES (3, 200, 1)
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [CreationDate]) VALUES (1, N'مدیر کل', CAST(N'2025-08-11T22:45:42.5300000' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [CreationDate]) VALUES (2, N'مدیر ارشد', CAST(N'2025-08-11T22:48:48.5400000' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [CreationDate]) VALUES (3, N'محتوا گذار', CAST(N'2025-08-11T22:49:08.5300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([Id], [Picture], [PictureAlt], [PictureTitle], [Heading], [Title], [Text], [BtnText], [Link], [IsRemoved], [CreationDate]) VALUES (1, N'slides/2025-08-12-12-16-59-slider1-1820x785.jpg', N'عکس مبل راحتی و مدرن', N'مبل راحتی و مدرن در رنگ های مختلف', N'کالکشن بهار 1404', N'مبل‌های مدرن و راحت', N'با طراحی‌های خاص و کیفیت بی‌نظیر، مبل‌هایی که راحتی و زیبایی را همزمان به خانه‌تان می‌آورد. مناسب برای هر سبک دکوراسیون.', N'مشاهده محصولات / خرید آنلاین', N'#', 0, CAST(N'2025-08-12T12:16:59.6063635' AS DateTime2))
INSERT [dbo].[Slides] ([Id], [Picture], [PictureAlt], [PictureTitle], [Heading], [Title], [Text], [BtnText], [Link], [IsRemoved], [CreationDate]) VALUES (2, N'slides/2025-08-12-12-29-23-slider2-1820x785.jpg', N'عکس ساعت دیواری لوکس', N'ساعت دیواری لوکس و دقیق در استایل های مختلف', N'ساعت‌های شیک و دقیق برای هر سلیقه', N'جدیدترین مدل‌های ۲۰۲۵', N'ساعت‌هایی با طراحی مدرن و کلاسیک، ساخته شده از بهترین مواد با دقت بالا. انتخابی ایده‌آل برای شما و عزیزانتان.', N'مشاهده ساعت‌ها / خرید سریع', N'#', 0, CAST(N'2025-08-12T12:29:23.9650027' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Slides] OFF
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles_RoleId]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_ArticleCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ArticleCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_ArticleCategories_CategoryId]
GO
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD  CONSTRAINT [FK_Comments_Comments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] NOCHECK CONSTRAINT [FK_Comments_Comments_ParentId]
GO
ALTER TABLE [dbo].[InventoryOperations]  WITH CHECK ADD  CONSTRAINT [FK_InventoryOperations_Inventory_InventoryId] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryOperations] CHECK CONSTRAINT [FK_InventoryOperations_Inventory_InventoryId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[ProductPictures]  WITH CHECK ADD  CONSTRAINT [FK_ProductPictures_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPictures] CHECK CONSTRAINT [FK_ProductPictures_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories_CategoryId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_RoleId]
GO
