@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>دسترسی غیرمجاز</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/admintheme/access-denied.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="icon"></div>
        <h1>۴۰۴ - دسترسی غیرمجاز</h1>
        <p>.متأسفیم! شما اجازه دسترسی به این مسیر را ندارید</p>
        <a href="/">بازگشت به صفحه اصلی</a>
    </div>
</body>
</html>
